*{
    padding: 0;
    margin: 0;
}

.loginBackground{
    background-image: url(../../images/loginbg.png) ;
    background-size: cover;
    .leftlogin{
        padding: 2%;
        h1,h3{
            color: #fff;
        }
    }
    .loginFormDiv{
        width: 50%;
        margin: 0 auto;
        .loginHeading{
            text-align: left;
            margin: 5% 0 8%;
            h1{
                border-left: 8px solid #E6917D;
                color:#5C5C5C;
                padding-left: 5%;
            }
        }
        .loginFeild{
            background: #fff;
            padding: 15px 0;
            margin-bottom: 10px;
            text-align: left;
            .innerFieldDiv{
                border-left: 6px solid #D3755F;
                padding-left: 5%;
                label{
                    width: 90%;
                    .forgetLogin{
                        float: right;
                        color: #707070;
                    }
                }
               
                input{
                    width: 100%;
                    border: none;
                }
            }
        }
        button{
            background-color: #E6917D;
            border: none;
            padding: 15px 10%;
            float: right;
        }
    }
    
   
}