
*{
    margin: 0;
    padding: 0;
    font-family:NotoSansTC-Medium;
}

.desktopHide{
    display: none;
}
.mobileHide{
    display: block;
}
.sidebar{
    background: #e6917d;
    position: relative;
    .leftmenulogo{
        margin: 10% 0 25%;
    }
    .desktopst{
        position: sticky;
        top: 0;
        height: 100vh;
        padding-top: 10% ;
        
        .desktoprel{
            position: relative;
            height: 100vh !important;
        }
    }
    .leftmenuitem{
        padding: 8% 10%;
        a{
            text-decoration: none;
        }
        p{
            margin: 0;
            color: #fff;
        }
    }
    .logoutdiv{
        position:absolute;;
        bottom: 10%;
        padding: 8% 10%;
        a{
            text-decoration: none;
        }
        p{
            margin: 0;
            color: #fff;
        }
    }
}

::-webkit-input-placeholder { 
        color:#E0E0E0;
      }
.innerpageright{
    
    .style-box{
        
        padding-left: 10px;
        padding-right:10px; 
        padding-bottom: 3px;
        padding-top:3px;
        border: 1px solid #E0E0E0;
        font-size: 16px;
        
    }
   
    .bookbutton{
      
        color:#E6917D;
        border-width: thin;
        padding: 5px 12px 5px 12px;
        border-radius: 25px;
        border-style: solid;
        border-color: #E6917D;
        width: fit-content;
    }
    .color-orange
    {
        color:#E6917D;
    }
         
    padding-top:4%;
    background-color: #fffaf8;
    .formarea
    {
        display: flex;
        // justify-content: space-around;
    
    }
    
    .aiFormCard
       {
           height:250px;
       }
    .aiFormImg{
       
        .custom-ai-img {
            min-height: 300px;
            min-width: 300px;
            width: 80%;
            height: 80%;
            background-size: cover;
            margin: auto;
        }
    }
    .addBtn{
        color:#E6917D;
        cursor:pointer;
    }
    .formOptionCard{
        background: #fff;
        border-radius: 10px;
        color: #5C5C5C;
        box-shadow: 0 0 10px #8E8E8E;
        .colorpill{
            background: #f9f2ef;
            padding: 10px 20px;
            border-radius: 50px;
        }
        .leftlabel{
            width: 30%;
            float: left;
        }
        .rightdata{
            width: 65%;
            float: left;
        }
        ul{
            list-style: none;
            padding:0px;
            li{
                padding:5px; 
            }
        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 765px) {
    .shift_end{
        display: flex;
        justify-content: end;

    }
    .discountimg
    {
        width: 100%;
    }
    .pad-top{
        padding-top: 18px;
        font-size: 16px;
    }
    .pad-bottom{
        padding-bottom: 11px;
    }
    .display_none{
        display:none;
    }
    .margin_top{
        margin-top: 14px;
    }
    .desktopHide{
        display: block;
    }
    .mobileHide{
        display: none;
    }
    .input{
        padding: 30px;
    }
    .innerpageright
    {   
        .mobileform{
            display: flex;
            flex-direction: column;
            width: fit-content;
            padding:30px;
        }
        .mobileouterform
        {
            display: flex;
            // flex-direction: row;
        }
        .heading
        {
            margin:auto;
            width: fit-content;
        }
        .headspan
        {
            margin-left: -15px;
        }
        .aiFormCard{
           height:auto;
           min-height: fit-content;           
        }
        .addBtn{
            color:#E6917D;
            display:flex;
            justify-content: center;
            padding:15px;
        }
        
    }
    .sidebar{
        height: auto !important;
        .mobilemenudiv{
            float: right;
        }
    
    }
}
@media only screen and (min-width: 992px) {
    .innerpageright{
        .addBtn{
           position:absolute;
           top:30px;
           right: 30px;
            z-index:1;
        }
    }
}
@media only screen and (min-width: 768px) {
    .discountimg
    {
        width: 100%;
    }
    .innerpageright{
        .padding-left-5{
            padding-left: 5px;
        }
        .padding-left-10{
            padding-left: 13px;
        }
        .padding-left-20{
            padding-left:30px;
        }
        .labelmobileform{
            width: 92%;
            display: flex;
            justify-content: space-evenly;
            background-color: #e6917d;
            background: #e6917d;
            border-radius: 20px;
            color: #fff;
            box-shadow: 0 0 10px #8E8E8E;
        }
        .inputmobileform{
            width: 88%;
            display: flex;
            justify-content: space-evenly;
            
            input
            {
                width:70%;
                margin-top: 15px;;
            }
            
        }
        
        
        .addBtn{
           position:absolute;
            top:30px;
            right: 30px;
            z-index:1;
        }
    }
}