*{
    padding: 0;
    margin: 0;
   
}

.outerheaderMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.example::-webkit-scrollbar {
    display: none;
  }
.outerheaderBtn{
    border: 1px solid #E8927C;
    border-radius: 50px;
    color: #E8927C;
    float: right;
}
.desktopOuterHide{
    display: none;
}
.mobileOuterHide{
    display: inline-block;
}

.form-select {
    font-size: 1rem;
}



.otherDayinput {
    width: 75px;
    opacity: 1 !important;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E0E0E0;
    opacity: 1; /* Firefox */
  }

 input[type=checkbox]:checked {
  /*CSS after CHECKED*/
  color: #ffd369;
}
.labelfontsmall
{
    font-size:smaller;
    white-space: nowrap;
}
.css-prp
{
  color: #d3755f;
  font-family: arial;
}

.con1,
.con2,
.con3,
.con4,
.con5 {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.con1 input,
.con2 input,
.con3 input,
.con4 input,
.con5 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: lightgrey;
  border-radius: 10%;
}

.con1 input:checked ~ .checkmark,
.con2 input:checked ~ .checkmark,
.con3 input:checked ~ .checkmark,
.con4 input:checked ~ .checkmark,
.con5 input:checked ~ .checkmark  {
  background-color: #d3755f;
}

.outerPage{
    background-color: #FFFAF8;
    padding: 30px 80px;
    .treeOptionTab{
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        width: 30%;
        text-align: center;
        color: #5C5C5C;
        box-shadow: 0 0 10px #8E8E8E;
        float: left;
        margin: 5% 1%;
        .treeOptionTabHeding{
            padding: 10px;;
            border-radius: 20px;
            background:#F9F2EF;
            margin-bottom: 20px;
        }
        .treeOptionTabOption {
            display: flex;
            align-items: center;
            justify-content: center;  
            .form-control {
                width: 40%;
                margin-right: 12px;
            }     
        }
    }
    .formOptionCard{
        background: #fff;
        border-radius: 10px;
        padding: 5% 10%;
        color: #5C5C5C;
        box-shadow: 0 0 10px #8E8E8E;
        h3{
            width: fit-content;
            border-bottom: 3px solid #b0d7f9;
            margin-bottom: 5%;
        }
        .innerFieldDiv{
            margin-bottom: 15px;;
        }
    }
    .formOptionCard,.ContctOptionCard{
        margin: 5% 0;
    }
    .contactbtn{
        border: 1px solid #E8927C;
        border-radius: 50px;
        background-color: #E8927C;
        color: #fff;
        margin: 0 auto;
    }
    .ContctOptionCard{
        background: #fff;
        border-radius: 10px;
        color: #5C5C5C;
        box-shadow: 0 0 10px #8E8E8E;
    }
}


.loginBackground{
    overflow: hidden;
    background-image: url(../images/loginbg.png) ;
    background-size: cover;
    .leftlogin{
        padding: 2%;
        h1,h3{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            a {
                margin-top: 12px;
            }
        }
    }
    .loginFormDiv{
        width: 50%;
        margin: 0 auto;
        .loginHeading{
            text-align: left;
            margin: 5% 0 8%;
            h1{
                border-left: 8px solid #E6917D;
                color:#5C5C5C;
                padding-left: 5%;
            }
        }
        .loginFeild{
            background: #fff;
            padding: 15px 0;
            margin-bottom: 10px;
            text-align: left;
            .innerFieldDiv{
                border-left: 6px solid #D3755F;
                padding-left: 5%;
                label{
                    width: 90%;
                    .forgetLogin{
                        float: right;
                        color: #707070;
                    }
                }
               
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }
        }
        button{
            background-color: #E6917D;
            border: none;
            padding: 15px 10%;
            float: right;
        }
    }
    
   
}

@media screen and (max-width: 768px) {
    .loginBackground{
        background-image: none ;
    }
    .loginBackground .leftlogin {
        margin-top: 0 !important;
        background-color: #d3755f;
    }
    .loginBackground .loginFormDiv {
        width: 90%;
    }

    .login-contaner {
        min-height: auto !important;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .desktopOuterHide{
        display: inline-block;
    }
    .contactbtn{
        width:100%;
    }
    .mobileOuterHide{
        display: none;
    }
    .mobilepadding{
        padding: 10px;
    }
    .paddingLeft25{
        padding-left: 25px;
    }
    .outerPage{
        padding: 10px 0;
    }

}